/* .Restaurantcard .image{
    background: url("https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660/e0839ff574213e6f35b3899ebf1fc597");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 216px;
    display: flex;
    padding-left: 20px;
    
    align-items: end;
    border-radius: 26px;
} */
/* justify-content: center; */
/* position: relative; */
/* border-radius: 38px; */
.Restaurantcard .image h1{
    /* position: absolute; */
    /* bottom: 0; */
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px black;
    /* font-weight: bold; */
}
.Restaurantcard{
    width:286px;
    transition:transform 0.1s;
}
.Restaurantcard:hover{
    transform: scale(1.03);
    cursor: pointer;
}

.ShimmerCard .ShimmerImg{
    /* background-color: rgb(190 189 189); */
    background-color: rgb(236, 231, 231);
}
.ShimmerCard .ShimmerText{
    /* background-color: rgb(190 189 189); */
    background-color: rgb(236, 231, 231);
    height: 25px;
}
.ShimmerCard .ShimmerTextSPan{
    /* background-color: rgb(190 189 189); */
    background-color: rgb(236, 231, 231);
    height: 25px;
    width: 30%;
    margin-top:10px ;
    margin-bottom: 10px;
}

@media (max-width:800px) {

    .Restaurantcard .image h1{
    /* position: absolute; */
    /* bottom: 0; */
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px black;
    /* font-weight: bold; */
}
    .Restaurantcard .imageCard{
   width: 100% !important;
   height: 200px !important;
    color: white;
    font-size: 28px;
    text-shadow: 2px 2px black;
    /* font-weight: bold; */
}
.Restaurantcard{
    width:150px;
    /* height:100px; */
    transition:transform 0.1s;
}
.Restaurantcard:hover{
    transform: scale(1.03);
    cursor: pointer;
}
}